.mainWrapper {
  padding: 24px;
  border-radius: 20px;
  border-right: 1px solid var(--stroke, #e3e8ef);
  background: #f1f4f9;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}
.wrapper {
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  border-bottom: 1px solid #e3e8ef;
  width: 100%;
}
.addressContainer {
  border: none;
}
.heading {
  color: #000;
  font-family: Inter;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.subHeading,
.label,
.text {
  color: #000;
  font-family: Inter;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.text {
  font-weight: 400;
  color: #333;
}

.inputWrapper,
.textWrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}
.addressAndCity {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.statesAndCountry {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.inputContainer,
.countryNameContainer {
  border-radius: 50px;
  border: 1px solid #e3e8ef;
  background: #fff;
  padding: 6px;
  max-width: 600px;
  width: 100%;
  display: flex;

  justify-content: space-between;
}
.countryNameContainer {
  align-items: center;
  padding-right: 15px;
  cursor: pointer;
  position: relative;
}
.input {
  color: #333;
  font-family: Inter;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;
  padding: 8px 12px;
  border: none;
  outline: none;
  border-radius: 50px;
}
.country,
.selectIdType,
.dropDownItem {
  color: #333;
  font-family: Inter;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 8px 12px;
}
.input,
.country,
.selectIdType {
  padding-left: 15px;
}
.selectIdType {
  color: #898888;
}
.arrow {
  color: #000;
  font-size: 24px;
  cursor: pointer;
}
.button {
  color: #fff;
  font-family: Inter;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 50px;
  background: #000;
  padding: 12px 25px;

  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-left: auto;
}
.applyButton {
  font-size: 1.4rem;
  padding: 8px 15px;
  padding-bottom: 10px;
  min-height: 100%;
}
.country {
  gap: 20px;
}
.dropDown {
  position: absolute;
  top: 65px;
  left: 0;
  z-index: 1;
  min-width: 100%;
  border-radius: 10px;
  background: #fff;
  padding: 10px 0;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
}
.dropDownItem {
  padding: 10px 15px;
}
/* .dropDownItem:first-child {
  border-radius: 10px 10px 0px 0px;
} */
.dropDownItem:hover {
  background: #f1f4f9;
}
@media only screen and (max-width: 1280px) {
  .addressAndCity,
  .statesAndCountry {
    gap: 20px;
  }
}
@media only screen and (max-width: 991px) {
  .addressAndCity {
    grid-template-columns: 1fr;
    gap: 12px;
  }
  .statesAndCountry {
    grid-template-columns: 1fr 1fr;
    gap: 12px;
  }
  .inputContainer,
  .countryNameContainer {
    max-width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .mainWrapper {
    padding: 15px;
  }
  .inputWrapper,
  .textWrapper {
    gap: 10px;
  }

  .country,
  .input {
    padding: 7px 12px;
  }
}
@media only screen and (max-width: 520px) {
  .statesAndCountry {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 380px) {
  .mainWrapper {
    padding: 15px 10px;
  }
}
