.mainWrapper {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background: url(../../images//signUpImage.png) #f1f4f9;
  background-size: 50% 100%;
  background-position: top left;
  background-repeat: no-repeat;
}

.deployInfo {
  width: 90%;

  margin: 0 auto;
  margin-top: auto;

  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 13%;
}

.title {
  color: #fff;
  font-family: Inter;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 141.023%;
}
.infoWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.info {
  color: #fff;
  font-family: Inter;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  align-items: center;
  gap: 10px;
}
.circleCheck {
  color: #3bef99;
  font-size: 2.8rem;
}
.loginContainer {
  min-height: 100vh;

  background: #f4f5f7;
  display: flex;
  flex-direction: column;
}
.backContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 50px 0;
  cursor: pointer;
  width: 90%;
  margin: 0 auto;
}
.backIconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #e7e7e7;
}
.backIcon {
  color: #000;
  font-size: 18px;
}
.backText {
  color: #000;
  font-family: Inter;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 171.523%;
  text-transform: capitalize;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 100%;
}
.loginWrapper {
  justify-content: flex-start;
}
.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.logoText {
  color: #000;
  font-family: Inter;
  font-size: 2.7rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.container {
  max-width: 651px;
  width: 95%;
  margin: 0 auto;
  border-radius: 20px;
  border: 1px solid #e3e8ef;
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
}

.heading {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 141.023%;
  max-width: 495px;
  width: 100%;
  margin: 0 auto;
}
.passwordHeading {
  margin: 0;
  text-align: left;
}
.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.label {
  color: #000;
  font-family: Inter;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.inputContainer {
  border-radius: 50px;
  border: 1px solid #e3e8ef;
  padding: 5px 8px;
  width: 100%;
}
.input {
  color: #333;
  font-family: Inter;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;
  padding: 7px 18px;
  border: none;
  outline: none;
  border-radius: 50px;
}
.submitButton {
  color: #fff;
  font-family: Inter;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  padding: 15px 18px;
  border-radius: 50px;
  background: #000;
  transition: 0.5s;
  border: none;
  outline: none;
  cursor: pointer;
}
.submitButton:hover {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
}
.or {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  position: relative;
  padding: 6px 0;
}

.or::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
  z-index: 1;
  width: 44%;
  height: 1px;
  background-color: #e3e8ef;
}
.or::before {
  content: " ";
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translateY(-50%);
  z-index: 1;
  width: 44%;
  height: 1px;
  background-color: #e3e8ef;
}
.continueWithButton {
  color: #000;
  font-family: Inter;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 11px 18px;
  border-radius: 50px;
  background: #efefef;
  transition: 0.5s;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.continueWithButton:hover {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
}
.icon {
  font-size: 2.8rem;
}
.text {
  color: #333;
  font-family: Inter;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  max-width: 537px;
  width: 100%;
}
.highlight {
  color: #000;
  text-decoration: underline;
  font-weight: 500;
}
.privacyPolicy {
  padding-top: 5px;
}
.overlay {
  display: none;
}
@media only screen and (max-width: 1280px) {
  .deployInfo {
    padding-bottom: 15%;
  }
  .title {
    font-size: 3.6rem;
  }
  .circleCheck {
    font-size: 3rem;
  }
  .heading {
    font-size: 2.4rem;
  }
}
@media only screen and (max-width: 1199px) {
  .deployInfo {
    padding-bottom: 22%;
  }
  .title {
    font-size: 3rem;
  }
  .circleCheck {
    font-size: 32px;
  }
  .heading {
    font-size: 2.4rem;
  }
}
@media only screen and (max-width: 991px) {
  .mainWrapper {
    grid-template-columns: 1fr;
    background: #f1f4f9;
  }
  .container {
    max-width: 500px;
    margin: 0 auto;
  }

  .deployInfo {
    display: none;
  }
}
@media only screen and (max-width: 520px) {
  .container {
    padding: 35px 20px;
  }
  .logo {
    width: 50px;
    height: 50px;
  }
  .input {
    padding: 7px 12px;
  }
}
