.hostNamesContainer {
  border-radius: 14px;
  border-right: 1px solid #e3e8ef;
  background: #f1f4f9;
  padding: 24px;
  padding-bottom: 30px;
}
.title {
  color: #000;
  font-family: Inter;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 24px;
}
.wrapper {
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  gap: 15px;
}
.quantityContainer,
.hostNameContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.textContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.heading {
  color: #333;
  font-family: Inter;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.text {
  color: #333;
  font-family: Inter;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.quantityWrapper {
  display: flex;
  align-items: center;
  gap: 25px;
}
.iconContainer {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  cursor: pointer;
}
.icon {
  font-size: 2rem;
  color: #fff;
}
.quantity {
  color: #353535;
  font-family: Poppins;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  min-width: 20px;
  text-align: center;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.input {
  color: #333;
  font-family: Inter;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  outline: none;
  width: 100%;
  padding: 12px 22px;
  border-radius: 50px;
}
@media only screen and (max-width: 991px) {
  .hostNamesContainer {
    padding: 18px;
    padding-bottom: 30px;
  }
}
@media only screen and (max-width: 767px) {
  .wrapper {
    grid-template-columns: 1fr;
    gap: 80px;
  }
}
@media only screen and (max-width: 520px) {
  .hostNamesContainer {
    padding: 12px;
    padding-top: 18px;
    padding-bottom: 30px;
  }
  .input {
    padding: 5px 8px;
  }
}
