.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  border-radius: 40px;

  background: #000;
  padding: 60px;
}
.textContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.title {
  color: #fff;
  font-family: Inter;
  font-size: 4.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 122.523%; /* 73.514px */
}
.tagline {
  color: #fff;
  font-family: Inter;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 152.523%; /* 45.757px */
}
.button {
  color: #fff;
  font-family: Inter;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 67.974px;
  border: 1px solid #fff;
  background: #000;

  outline: none;
  background: transparent;
  cursor: pointer;
  padding: 14px 30px;
  margin-top: 10px;
}
.imageContainer {
  display: flex;
  justify-content: center;
}
.image {
  max-width: 450px;
  width: 100%;
  margin-top: -80px;
}
@media only screen and (max-width: 1440px) {
  .wrapper {
    grid-template-columns: 1fr 0.9fr;
  }
}
@media only screen and (max-width: 1280px) {
  .wrapper {
    grid-template-columns: 1fr 0.8fr;
  }
}
@media only screen and (max-width: 1199px) {
  .wrapper {
    grid-template-columns: 1fr 0.7fr;
  }

  .image {
    margin: 0;
  }

  .title {
    font-size: 4rem;
  }

  .button {
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: 991px) {
  .wrapper {
    padding: 50px;
  }
  .textContainer {
    gap: 12px;
  }
  .title {
    font-size: 3.6rem;
  }
}
@media only screen and (max-width: 767px) {
  .wrapper {
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;
    padding: 30px;
  }
  .textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .title,
  .tagline {
    text-align: center;
    margin: 0 auto;
  }

  .image {
    max-width: 200px;
    width: 90%;
  }
  br {
    display: none;
  }
}
@media only screen and (max-width: 520px) {
  .title {
    font-size: 2.8rem;
  }
  .tagline {
    font-size: 1.6rem;
  }
  .button {
    font-size: 14px;
    padding: 15px 30px;
  }
}
