.wrapper {
  padding-top: 12rem;
  position: relative;
  z-index: 2;
}
.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;

  margin: 0 auto;
  max-width: 1146px;
  width: 100%;
  padding-bottom: 20px;
  position: relative;
}
.heading {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 5rem;
  font-style: normal;
  font-weight: 800;
  line-height: 122.523%; /* 98.018px */
}
.tagline {
  color: #333;
  text-align: center;
  font-family: Inter;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 152.523%; /* 45.757px */
  max-width: 848px;
  width: 90%;
  margin: 0 auto;
}
.imagesWrapper {
  background: url(../../../images/heroBgLine.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
.imageContainer {
  max-width: 930px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.image {
  width: 100%;

  display: block;
}
.absoluteImage {
  width: 7rem;
  position: absolute;
  z-index: 1;
}
.heroCursor {
  left: -6%;
  top: 50%;
  width: 5rem;
}
.userImage {
  right: -8%;
  top: 70%;
  width: 5rem;
}
.heroCurve {
  left: -10%;
  top: 2rem;
}

.heroDot {
  right: -7%;
  top: 3rem;
}
.button {
  color: #fff;
  font-family: Inter;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 67.974px;
  background: #000;
  padding: 1.2rem 2.2rem;
  border: none;
  outline: none;
  cursor: pointer;
  display: block;
  margin: 0 auto;

  transform: translateY(-200%);
  position: relative;
  z-index: 2;
  transition: 0.3s;
}
.button:hover {
  opacity: 0.8;
}
@media only screen and (max-width: 1380px) {
  .absoluteImage {
    width: 4.8rem;
  }
  .heroCursor,
  .heroCurve {
    left: 1.6rem;
  }
  .userImage,
  .heroDot {
    right: 1.6rem;
  }
}
@media only screen and (max-width: 1199px) {
  .heading {
    font-size: 4.5rem;
  }

  .heroCursor,
  .userImage {
    top: 100%;
  }
  .heroCurve,
  .heroDot {
    top: auto;
    bottom: 40%;
  }

  .absoluteImage {
    width: 4.4rem;
  }
}

@media only screen and (max-width: 991px) {
  .heading {
    font-size: 4rem;
  }
  .tagline {
    font-size: 2rem;
  }
  .button {
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: 767px) {
  .heading {
    font-size: 3.2rem;
  }
  .tagline {
    font-size: 1.6rem;
  }

  .absoluteImage {
    width: 4rem;
  }
  .button {
    transform: translateY(-150%);
  }
}
@media only screen and (max-width: 575px) {
  .button {
    font-size: 1.6rem;
    transform: translateY(-140%);
  }
  br {
    display: none;
  }
}
@media only screen and (max-width: 520px) {
  .absoluteImage {
    width: 2rem;
  }
  .heroCurve,
  .heroCursor {
    left: 5px;
  }
  .heroDot,
  .userImage {
    right: 0;
  }
  .br {
    display: none;
  }
  .button {
    font-size: 1.4rem;
    transform: translateY(-140%);
  }
}
@media only screen and (max-width: 399px) {
  .button {
    transform: translateY(-120%);
  }
}
