.wrapper {
  display: grid;
  grid-template-columns: 320px 1fr;
  align-items: flex-start;
  gap: 20px;
  position: relative;
  width: 95%;
  max-width: 1400px;
  margin: 0 auto;
}
.hamburger {
  display: none;
  cursor: pointer;
  font-size: 30px;
}
@media only screen and (max-width: 1550px) {
  .wrapper {
    display: flex;
    flex-direction: column;
  }
  .hamburger {
    display: block;

    cursor: pointer;
    margin-left: auto;
  }
}
@media only screen and (max-width: 1280px) {
  .wrapper {
    display: grid;
    grid-template-columns: 320px 1fr;
  }
  .hamburger {
    display: none;
  }
}
@media only screen and (max-width: 1199px) {
  .wrapper {
    display: flex;
    flex-direction: column;
  }
  .hamburger {
    display: block;

    cursor: pointer;
    margin-left: auto;
  }
}
